/* Styles globaux */
\n:root {
  --max-width: 1100px;
  --border-radius: 12px;
}
\n * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
\nhtml,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
